<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>The 1 hour Auction</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='fonts/font-awesome.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/Navigation-Clean.css')}}"
    />
  </head>
  {% block body %}
  <body style="background: rgb(255, 255, 255)">
    <header class="masthead text-white text-center" style="height: 100vh;">
      <div
        class="overlay"
        style="background: url({{url_for('static', filename='img/bg-showcase-2.jpg')}});"
      >
        <figure
          class="figure"
          style="background: url({{url_for('static', filename='img/bg-showcase-2.jpg')}});"
        ></figure>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Coffeeless Programming<br />Voucher Auction</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form method="POST" action="" style="display:flex; flex-direction: column; align-items: center;">
              <div class="form-row mb-2">
                <div class="mb-2 mb-md-0">
                  {{form.email(class_='shadow-sm form-control
                  form-control-lg')}}
                </div>
              </div>
              <div class="form-row mb-2">
                <div class="mb-2 mb-md-0">
                  {{form.quantity(class_='shadow-sm form-control
                  form-control-lg')}}
                </div>
              </div>
              <div class="col-12 col-md-3">
                <button
                  class="btn btn-primary btn-block btn-lg"
                  type="submit"
                  style="
                    background: rgb(180, 7, 7);
                    border-top-color: rgb(180, 7, 7);
                    border-right-color: rgb(180, 7, 7);
                    border-bottom-color: rgb(180, 7, 7);
                    border-left-style: none;
                  "
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  </body>
</html>

{% endblock %}
